/* Heading background image */

#indexhead {
    background-image: url("/images/planeheadbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: 4px 3px black;
    font-size: 4em;
}

#formhead {
    background-image: url("/images/formheadbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: 4px 3px black;
    font-size: 4em;
}

h2 {
    text-shadow: 2px 1px white;
}


/* Navigation position */

nav {
    bottom: 35px;
    text-decoration: overline;
}


/* Hover Pseudoclass */

nav a:hover {
    background-color: black;
}


/* Border around main content */

#article1,
#article2 {
    border: 1px solid black;
}


/* Modifies image in article */

nav {
    border-radius: 5px;
}

main,
article,
footer {
    border-radius: 40px;
}

article img {
    width: 100%;
    border-radius: 40px;
}

#formbodyimg,
#formbodyimg2 {
    border-radius: 40px;
}